.content {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: top;

    padding: 10px;
}

.conleft {
    width: 35vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: top;  
    margin: 20px 10px;
}
.conleft > ul, .conleft > div {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;

    list-style: none; 
}
.conleft > div{
    background-color: darkblue;
    padding: 10px;
}
input[type=text], select{
    width: 250px;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;

}
button {
    background-color: #CCC;
    /* Green */
    border: none;
    color: black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    margin: 5px;
    font-size: 16px;
}
button:hover, button:active{
    background-color: darkgray;
    color: white;
    font-weight: bold;
}
.uli, .ulis{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gainsboro;
    margin-bottom: 10px;
}
.uli:hover , .uli:active, .ulis   {
    background-color: gainsboro;
    color: blue;
    font-weight: bold;
}    
.conright {
    width: 50vw;
    height: 80vh;

    display: flex;
    justify-content: center;
    align-items: top;  
    margin: 10px; 
}

.concard {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gainsboro;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
    background-color: darkblue;
    color: white;
}

.concard > div {
    width: 100%;
    font-size: 1.2em;
} 

.concard >.conkw {
    font-size: 0.8em;
    color: aliceblue;
}
.concard img {
    width : 100%;
    height: 200px;
}

.galselect {
    width: 100vw;
    display: flex;
    flex-direction: row;
}