.wh{
    width: 420px;
    height: 80px;
    background-color: aliceblue;
    padding: 10px;
}
.wmenu, .w1{
    width: 420px;
    height: 100%;
    border: 1px solid gray;
}

.w21{
    width: 420px;
    height: 100%;
    border: 1px solid gainsboro;
    display: flex;
    flex-direction: row;
}
.w22{
    width: 420px;
    height: 100%;
    border: 1px solid gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.w2content{
    width: 420px;
    height: 100%;
    border: 1px solid gray;
}